# App URL
APP_URL=

HTTP_SERVER_PORT=

# Data base
DB_HOST=
DB_PORT=
DB_USER=
DB_NAME=
DB_PASS=

JWT_SECRET=
THEME_EDITOR_JWT_SECRET=
THEME_EDITOR_PREVIEW_URL=
THEME_EDITOR_TOKEN_EXPIRES_IN=
CSRF_SECRET=
SESSION_SECRET=

ENCRYPTION_PASSWORD=

IP_HASH_SALT=

CLIENT_URL=

# WhatsApp 
WHATS_APP_API_KEY=
WHATS_APP_BASE_URL=
WHATS_APP_SENDER=

# Twilio
ACCOUNT_SID=
AUTH_TOKEN=
WHATSAPP_PHONE_NUMBER=

# Twilio Content SID
TWILIO_CONTENT_SID_ORDER_RECEIVED_CUSTOMER=
TWILIO_CONTENT_SID_ORDER_OUT_FOR_DELIVERY=
TWILIO_CONTENT_SID_ORDER_STATUS_UPDATE_CUSTOMER=
TWILIO_CONTENT_SID_NEW_ORDER_MERCHANT=
TWILIO_CONTENT_SID_MERCHANT_REPLACEMENT_REJECTED=
TWILIO_CONTENT_SID_MERCHANT_REPLACEMENT_ACCEPTED=
TWILIO_CONTENT_SID_ORDER_PRODUCT_REPLACEMENT=
TWILIO_CONTENT_SID_MERCHANT_DAY_CLOSURE_SUMMARY=